

#block-internship2017-helpusmakethisanawesomeexperience{
  margin-top:7%;
    .help-us {
      @include width-margin(40%);
      @include breakpoint($tablet) {
        width: 100%;
        padding-top: 10%;
      }
      @include breakpoint($mobile) {
        padding: 15% 0;
      }
      .para p {
        color: gray;
        text-align: center;
        margin-bottom: 10%;
        font-size: 25px;
        @include breakpoint($laptop) {
          font-size: 23px;
        }
      }
      .link-help-us{
        p {
        text-align: center;
        }
        a {
          @include tickets-anchor;
          padding: 13px 23px;
        }
      }
    }
}
