@import "utilities/mixin";
@import "utilities/variable";

#block-internship2017-views-block-our-sponsors-block-1,.view-our-sponsors {
  h2{
    @include heading;
  }
  .view-content {
    display: $f;
    flex-wrap: wrap;
    justify-content: space-around;
    @include width-margin(50%);
      .views-row {
        width:30%;
          .field-content {
            display: $f;
            justify-content: center;
            align-items: center;
            padding: 14%;
          }
      }
  }
}
