/*------------------------------------*\
    * @file
    * Header.
\*------------------------------------*/





input.toggle, label.toggle { display: none; }

label.toggle {
  font-weight: 900;
  font-size: 1.2em;
  padding: 10px 20px;
}

.logopath1 {
  display:none;
}

ul.menu{
  display: $f;
  justify-content: center;
  list-style: none outside;
  text-transform: uppercase;
  text-align: center;
  margin:0px;
  @include breakpoint($tablet) {
    @include width-margin(95%);
  }
  @include breakpoint($mobile) {
    display: block;
  }
  a.is-active {
    color: #e6103e;
    border-bottom: 3px solid #e6103e;
  }
}
.menu-item {
  a {
    text-decoration: none;
    color: dimgrey;
    display: block;
    font-size: 18px;
    padding: 34px 58px;
    @include breakpoint($laptop) {
      padding: 34px 25px;
    }
  }
}

#logopath img {
  position: relative;
  z-index: 2;
  @include breakpoint($tablet) {
    display: none;
  }
}

img.logopath1 {
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 0 auto;
  margin-bottom: -22px;
}
img.image-style-banner{
  width:100%;
  height: auto;
  margin-top: -25px;
  @include breakpoint($mobile) {
    margin-top: -9px;
  }
}

#block-internship2017-sessionbanner {
  position: relative;
    .session-banner {
      position: absolute;
      bottom: 20%;
      left: 12%;
      h1 {
        color: white;
        font-size: 28px;
        word-spacing: 5px;
        margin: 12px 0px;
        @include breakpoint($mobile) {
          font-size: 20px;
          word-spacing: 4px;
        }
      }
      a {
        @include tickets-anchor;
        padding: 8px 23px;
        font-size: 14px;
      }
    }
}

@media (max-width: 960px) {

  ul.menu { display: none; }

  input.toggle,  .toggle span { display: none; }

  input[type=checkbox]:checked ~ ul.menu,  label.toggle {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }
  .logopath1 {
    display:inline;
  }

}



