@import "breakpoint";
@import "utilities/mixin";
@import "utilities/variable";

$tablet: screen (max-width 768px);
$mobile: screen (max-width 425px);

ul.menu{
  display: $f;
  justify-content: center;
  list-style: none outside;
  text-transform: uppercase;
  text-align: center;
  margin:0px;
  @include breakpoint($tablet) {
    @include width-margin(95%);
  }
  @include breakpoint($mobile) {
    display: block;
  }
  a.is-active {
    color: #e6103e;
    border-bottom: 2px solid #e6103e;
  }
}
.menu-item {
  a {
    text-decoration: none;
    color: dimgrey;
    display: block;
    font-size: 16px;
    padding: 34px 58px;
    @include breakpoint($tablet) {
      padding: 34px 25px;
    }
  }
}
img.image-style-banner{
  width:100%;
  @include breakpoint($tablet) {
    height: 75vh;
  }
}

#block-internship2017-sessionbanner {
  position: relative;
    .session-banner {
      position: absolute;
      bottom: 20%;
      left: 12%;
      h1 {
        color: white;
        font-size: 28px;
        word-spacing: 5px;
        margin: 12px 0px;
      }
      a {
        @include tickets-anchor;
        padding: 8px 23px;
        font-size: 14px;
      }
    }
}





