/*------------------------------------*\
    * @file
    * Home Page.
\*------------------------------------*/

.tickets{
  display:$f;
  @include width-margin(70%);
  margin: 5% auto;
  @include breakpoint($tablet) {
    display: block;
  }
  .ticket1,.ticket2{
    @include tickets-common;
    @include breakpoint($tablet) {
      width: 100%;
      margin: 0;
    }
    @include breakpoint($mobile) {
      padding: 37px 0;
    }
  }
  #{selector-nest(".ticket1,.ticket2","p")}
  {
    @include tickets-para;
    @include breakpoint($laptop) {
      font-size: 16px;
    }
  }
  #{selector-nest(".ticket1,.ticket2","a")}
  {
    @include tickets-anchor;
  }
}
.ticket1{
  float: left;
  @include breakpoint($tablet) {
    float: right;
  }
  a{
    padding: 13px 23px;
  }
}
.ticket2 {
  float: right;
  a{
    padding: 13px 64px;
  }
}
.main-wrapper {
  background-color: #f7f9fb;
  .class-wrapper{
    display: $f;
    @include width-margin(70%);
    background-color: #f7f9fb;
    @include breakpoint($tablet) {
      @include width-margin(90%);
    }
    @include breakpoint($mobile) {
      display: block;
    }
      .keynote-speaker {
        @include breakpoint($tablet) {
          width: 60%;
        }
        @include breakpoint($mobile) {
          width: 100%;
        }
        h1 {
          margin: 18% 0;
          font-size: 32px;
          color: $c;
          @include breakpoint($laptop) {
            font-size: 20px;
          }
          @include breakpoint($mobile) {
            font-size: 26px;
            margin-top: 10%;
            padding-top: 10%;
          }
        }
        p {
          color: gray;
          font-size: 18px;
          margin: 20px 0px;
          line-height: 25px;
          @include breakpoint($laptop) {
            line-height: 20px;
          }
          @include breakpoint($tablet) {
            font-size: 16px;
          }
          @include breakpoint($mobile) {
            font-size: 16px;
          }
        }
      }
      .keynote-speaker-image {
        @include breakpoint($tablet) {
          width: 70%;
          img {
            width: 100%;
          }
        }
        @include breakpoint($mobile) {
          width: 80%;
          margin: 0 auto;
        }
      }
  }
}
.events-wrapper{
  @include breakpoint($mobile) {
    margin-top: 15%;
  }
  h1 {
    @include width-margin(50%);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
    color: $c;
    font-size: 32px;
  }
  .events {
    display: $f;
    @include width-margin(80%);
    justify-content: space-around;
    @include breakpoint($mobile) {
      display: block;
    }
      .event1,.event2,.event3 {
        width:30%;
        @include breakpoint($mobile) {
          width: 100%;
          margin-top: 7%;
        }
        .event_img {
          height: 178px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px 5px 0 0;
          }
        }
          h1 {
            text-align: left;
            margin: 0px;
            font-size: 16px;
            color: $c;
            padding-bottom: 4%;
            padding-top: 20%;
            @include breakpoint($tablet) {
              padding: 5% 0;
              font-size: 14px;
            }
            @include breakpoint($mobile) {
              padding-bottom: 0px;
            }
          }
          p {
            @include breakpoint($tablet) {
              padding-bottom: 8%;
            }
            @include breakpoint($mobile) {
              padding: 4% 0;
            }
          }
      }
  }
}
