/*------------------------------------*\
    * @file
    * Sessions Page.
\*------------------------------------*/
.selection-criteria-wrapper {
  background-color: aliceblue;
  .selection-criteria {
  @include width-margin(90%);
  h1 {
    @include heading;
    font-size: 28px;
    padding-top: 5%;
    margin-top:0;
    @include breakpoint($mobile) {
      font-size: 20px;
      padding: 15% 0;
    }
  }
  p {
    font-size: 16px;
    text-align: center;
    @include width-margin(75%);
    color: gray;
    padding: 4% 0;
    line-height: 18px;
    @include breakpoint($tablet) {
      width:90%;
    }
    @include breakpoint($mobile) {
      width: 100%;
      text-align: justify;
      font-size: 13px;
    }
  }
  .links {
    padding: 29px 20px;
    width: 100%;
    display: $f;
    justify-content: space-around;
    flex-wrap: wrap;
    @include breakpoint($tablet) {
      width: 90%;
      padding: 0px;
    }
    a {
      @include tickets-anchor;
      width: 20%;
      padding: 12px 30px;
      text-align: center;
      margin: 40px 30px;
      font-size:16px;
      @include breakpoint($tablet) {
        padding: 12px 40px;
        margin: 40px 20px;
      }
      @include breakpoint($mobile) {
        width: 45%;
        margin: 40px 0px;
        padding: 13px;
      }
    }
  }
}
}

.selection-committee {
  h1 {
    font-size: 32px;
    color: $c;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
    @include breakpoint($mobile) {
      font-size: 23px;
    }
  }
  p {
    font-size: 16px;
    text-align: center;
    @include width-margin(60%);
    color: gray;
    padding: 4% 0;
    @include breakpoint($mobile) {
      width:90%;
      font-size: 16px;
      padding: 10% 0;
    }
  }
}
.committee {
  padding: 29px 20px;
  @include width-margin(90%);
  display: $f;
  justify-content: space-around;
  flex-wrap: wrap;
  @include breakpoint($laptop) {
    width: 100%;
  }
  @include breakpoint($mobile) {
    display: block;
  }
    .committee1,.committee2,.committee3,.committee4 {
      width: 22%;
      @include breakpoint($mobile) {
        width: 90%;
        margin: 0px auto;
        padding-bottom: 10%;
      }
      .committee-img {
        height: 156px;
        img {
        width: 100%;
        height: 100%;
        }
      }
      h3 {
        text-align: left;
        margin: 0px;
        font-size: 16px;
        color: $c;
        padding-bottom: 4%;
        padding-top: 12%;
        @include breakpoint($mobile) {
          padding-bottom: 0px;
          padding-top: 6%;
        }
      }
      p {
        color:gray;
        @include breakpoint($mobile) {
          margin-top: 3%;
        }
      }
    }

}
