@import "components/header";
@import "block/oursponsors";
@import "block/helpus";
@import "block/venue";
@import "components/footer";

#block-internship2017-benefitsofbeingasponsor {
  h2 {
    @include heading;
    font-size:28px;
    @include breakpoint($tablet) {
      width: 100%;
    }
    @include breakpoint($mobile) {
      font-size: 22px;
    }
  }
    .benefits {
      display: $f;
      @include width-margin(80%);
      @include breakpoint($tablet) {
        width: 100%;
      }
      @include breakpoint($mobile) {
        display: block;
      }
        .benefit1,.benefit2,.benefit3 {
          padding: 4%;
          p.benefit-heading {
            border-bottom: 1px solid black;
            margin: 0px;
            padding-bottom: 9%;
            text-transform: uppercase;
            font-size: 16px;
            text-align: left;
            color: black;
          }
          p {
            color:gray;
            font-size: 16px;
            text-transform: none;
            padding-top: 5%;
            text-align: left;
          }
        }
    }
}
